<footer class="footer">

	<div class="wrap">

		<p class="footer__text">{{ site.data.settings.footer_settings.footer_tagline }}</p>

		<div class="footer__copyright">
			<span>© {{ 'now' | date: "%Y" }} {{ site.data.settings.basic_settings.site_title }}</span>
			<a href="https://scholar.google.com/citations?user=4bo4uK8AAAAJ&hl=en" style="font-size: 24px" target="_blank">Google Scholar</a>
			<a href="https://www.researchgate.net/profile/Javier-Blanco-Portillo" style="font-size: 24px" target="_blank">Researchgate</a>
		</div>

		{% include socials.html %}

	</div>

</footer>